<h1><%= title%></h1>
<form action="/users/create-session" method="post">

<input type="email" name="email" placeholder="Email Address" required>
<input type="password" name="password" placeholder="Paswword" required>
<input type="submit" name="button" value="Login">
</form>
